<?xml version="1.0"?>
<robot name="imu" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="imu">
        <gazebo>
            <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>base_footprint</bodyName>
            <topicName>imu</topicName>
            <serviceName>imu_service</serviceName>
            <xyzOffsets>25.65 25.65 0</xyzOffsets> <!-- option to initialize odometry for fake localization-->
            <rpyOffsets>0 0 0</rpyOffsets>
            <gaussianNoise>0.0</gaussianNoise>
            <updateRate>20.0</updateRate>
            </plugin>
        </gazebo>
    </xacro:macro>

</robot>