<?xml version="1.0"?>
<robot name="sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="lidar" params="prefix parent *origin">
        <joint name="${prefix}_lidar_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${prefix}_lidar_link"/>
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${prefix}_lidar_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://cerlab_mecanum/meshes/hokuyo.stl" scale="1 1 1"/>
                </geometry>
                <material name="black"/>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder length="0.0315" radius="0.055"/>
                </geometry>
            </collision>

            <inertial>
                <mass value="0.114" />
                <origin xyz="0 0 0" />
                <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                         iyy="0.001" iyz="0.0"
                         izz="0.001"
                />
            </inertial>
        </link>

        <!-- Adding LiDAR sensors -->
        <gazebo reference="${prefix}_lidar_link">
            <sensor type="gpu_ray" name="${prefix}_head_hokuyo_sensor">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>40</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>720</samples>
                            <resolution>1</resolution>
                            <min_angle>-1.570796</min_angle>
                            <max_angle>1.570796</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.02</min>
                        <max>5.6</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin name="${prefix}_gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_gpu_laser.so">
                    <topicName>/rrbot/laser/${prefix}_scan</topicName>
                    <frameName>${prefix}_lidar_link</frameName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>